<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Hôm nay ăn gì?</a></li>
        <li><a href="/login">Đăng nhập</a></li>
        <li><a href="/signUp">Đăng ký</a></li>
      </ul>
    </nav>
    <h1>Home Page</h1>
    <div>
      <h1>Danh sách quán ăn</h1>
      <table border="1">
        <tr>
          <th>STT</th>
          <th>Tên quán</th>
          <th>Địa chỉ</th>
          <th>Thời gian mở cửa</th>
          <th>Thời gian đóng cửa</th>
          <th>Giá trung bình</th>
          <th>Loại hình</th>
          <th>Đánh giá</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Quán 1</td>
          <td>Địa chỉ 1</td>
          <td>8:00</td>
          <td>22:00</td>
          <td>100.000</td>
          <td>Quán ăn</td>
          <td>4.5</td>
        </tr>
      </table>
    </div>
  </body>
</html>
