<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Login</h1>
    </div>
    <div class="form-container">
      <form action="/" method="post">
        <div>
          <label for="name">Username: </label>
          <input type="text" name="username" placeholder="username" />
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" name="password" placeholder="password" />
        </div>
        <button type="submit">Login</button>
        <p>You don't have account? <a href="/signUp">Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
